[project]
name = "pyrig"
version = "2.0.39"
description = "A dev kit that standardizes configurations and testing"
authors = [
    {name = "Winipedia", email = "win.steveker@gmx.de"},
]
license-files = [
    "LICENSE",
]
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv",
    "packaging",
    "pathspec",
    "pillow",
    "pygithub",
    "pyyaml",
    "setuptools",
    "tomlkit",
    "typer",
]

[project.scripts]
pyrig = "pyrig.dev.cli.cli:main"

[dependency-groups]
dev = [
    "bandit",
    "mypy",
    "pre-commit",
    "pyinstaller",
    "pytest",
    "pytest-mock",
    "ruff",
    "types-defusedxml",
    "types-pyinstaller",
    "types-pyyaml",
    "types-setuptools",
    "types-tqdm",
]

[build-system]
requires = [
    "uv_build",
]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "pyrig"
module-root = ""

[tool.ruff]
exclude = [
    ".*",
    "**/migrations/*.py",
]

[tool.ruff.lint]
select = [
    "ALL",
]
ignore = [
    "D203",
    "D213",
    "COM812",
    "ANN401",
]
fixable = [
    "ALL",
]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = [
    "S101",
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.mypy]
strict = true
warn_unreachable = true
show_error_codes = true
files = "."

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.bandit]
exclude_dirs = [
    ".*",
]

[tool.bandit.assert_used]
skips = [
    "*test_*.py",
]
