name: Health Check
'on':
  workflow_dispatch: {}
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
  push:
    branches:
    - main
  schedule:
  - cron: 0 0 * * *
permissions: {}
run-name: Health Check
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
  UV_NO_SYNC: 1
jobs:
  check_for_changes:
    runs-on: ubuntu-latest
    outputs:
      has_changes: ${{ steps.check_for_unstaged_changes.outputs.has_changes }}
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Setup Git
      id: setup_git
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Setup Project Mgt
      id: setup_project_mgt
      uses: astral-sh/setup-uv@main
      with:
        python-version: '3.14'
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Check For Unstaged Changes
      id: check_for_unstaged_changes
      run: "if git diff --quiet; then\n  echo \"has_changes=false\" >> $GITHUB_OUTPUT\n\
        \  echo \"No dependency changes detected\"\nelse\n  echo \"has_changes=true\"\
        \ >> $GITHUB_OUTPUT\n  echo \"Dependency changes detected\"\nfi"
  protect_repository:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Setup Git
      id: setup_git
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Setup Project Mgt
      id: setup_project_mgt
      uses: astral-sh/setup-uv@main
      with:
        python-version: '3.14'
    - name: Patch Version
      id: patch_version
      run: uv version --bump patch && git add pyproject.toml
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Install Dependencies
      id: install_dependencies
      run: uv sync
    - name: Add Dependency Updates To Git
      id: add_dependency_updates_to_git
      run: git add pyproject.toml uv.lock
    - name: Protect Repository
      id: protect_repository
      run: uv run pyrig protect-repo
      env:
        REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
  health_check_matrix:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python-version:
        - '3.12'
        - '3.13'
        - '3.14'
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Setup Git
      id: setup_git
      run: git config --global user.email "github-actions[bot]@users.noreply.github.com"
        && git config --global user.name "github-actions[bot]"
    - name: Setup Project Mgt
      id: setup_project_mgt
      uses: astral-sh/setup-uv@main
      with:
        python-version: ${{ matrix.python-version }}
    - name: Patch Version
      id: patch_version
      run: uv version --bump patch && git add pyproject.toml
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Install Dependencies
      id: install_dependencies
      run: uv sync
    - name: Add Dependency Updates To Git
      id: add_dependency_updates_to_git
      run: git add pyproject.toml uv.lock
    - name: Run Pre Commit Hooks
      id: run_pre_commit_hooks
      run: uv run pre-commit run --all-files
    - name: Run Tests
      id: run_tests
      run: uv run pytest --log-cli-level=INFO --cov-report=xml
      env:
        REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
    - name: Upload Coverage Report
      id: upload_coverage_report
      uses: codecov/codecov-action@main
      with:
        files: coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: ${{ secrets.CODECOV_TOKEN && 'true' || 'false' }}
  health_check:
    needs:
    - check_for_changes
    - health_check_matrix
    - protect_repository
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'schedule' || needs.check_for_changes.outputs.has_changes
      == 'false' }}
    steps:
    - name: Aggregate Matrix Results
      id: aggregate_matrix_results
      run: echo 'Aggregating matrix results into one job.'
